button {
    font-weight: 700px;
    font-family: "Courier New", Courier , monospace;
    align-items: center;
    margin: 64px;
    width: 200px;
    height: 50px;
    background-color: coral;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 50px;
}

button:hover {
    color: darkcyan;
}

button:hover > .svg-bird {
    fill: green;
}

.svg-bird {
    fill: white;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}