@import 'card.scss';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: 'Monserrat' , sans-serif;
    color: white;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
}