.main-image {
    margin: 50px auto 50px;
    display: block;
    max-width: 100%;
    border-radius: 20px;
}

.gallery {
    display: flex;
}

.card {
    margin: 16px;
    box-shadow: 0px 7px 18px -8px rgba(0,0,0,0.75);
}

.opacity-filter {
    filter: opacity(50%);
}

.caption {
    height: 30px;
    text-align: center;
}

.blur-filter {
    filter: blur(4px);
}

.invert-filter {
    filter: invert(100%);
}