html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.block {
    position: absolute;
    width: 250px;
    height: 100px;
    background-color: coral;
    text-align: center;
    line-height: 100px;
    left: calc(50% - 125px);
    border-radius: 10px;
    animation: move 2s ease;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {
        top: -100px;
    }

    to {
        top: calc(50vh - 50px);
    }
}