* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.text {
    width: 250px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.block {
    display: flex;
    position: absolute;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: coral;
    line-height: 100px;
    left: calc(50% - 125px);
    animation: move 2s ease;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {
        top: 0px;
    }

    to {
        top: calc(50vh - 50px);
    }
}