table {
    width: 500px;
}

table , td , th {
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 16px;
}

td , th {
    padding: 4px;
    text-align: right;
}