body {
    display: flex;
}

.articles > div {
    flex-wrap: 0;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100px;
    width: 150px;
    background-color: beige;
    margin: 16px;
    display: inline-block;
}

.cropped {
    overflow: hidden;
}

.both-scrolls {
    overflow: scroll;
    cursor: all-scroll;
}

.vertical-scroll {
    overflow: auto;
    cursor: all-scroll;
}