body {
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.article {
    flex-basis: 300px;
    flex-grow: 1;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}