body {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
}

.article {
    box-sizing: border-box;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}