* {
    margin: 0;
    padding: 0;
}

table {
    box-sizing: border-box;
    width: 500px;
    margin: 16px;
}

caption {
    margin-bottom: 8px;
}

table , td , th {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    height: 40px;
}

td , th {
    text-align: right;
    padding: 4px;
}

th {
    background-color: aqua;
}

div {
    overflow-x: auto;
}

tfoot {
    font-weight: 700;
}

tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody > tr:hover {
    background-color: #aaa;
    color: #fff;
}