table {
    width: 500px;
    line-height: 40px;
}

table , td , th {
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 16px;
}

td , th {
    padding: 4px;
    text-align: right;
}

div {
    overflow-x: auto;
}

tbody > tr:hover {
    background-color: #aaa;
    color: white;
}
caption {
    margin-bottom: 8px;
}

tfoot > tr {
    font-weight: 700;
}

thead {
    background-color: aqua;
}

tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}