* {
    box-sizing: border-box;
}

.mountains {
    background-image: url(nature.jpeg);
    background-position: center;
    width: 300px;
    height: 500px;
    font-size: 32px;
    font-weight: 700;
    padding-top: 32px;
    text-align: center;
    color: white;
}

.text {
    background: linear-gradient(45deg , white , silver);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}