* {
    box-sizing: border-box;
}

.text {
    border-bottom: 1px dotted black;
    margin: 16px;
    width: 91px;
}

.tooltip {
    position: relative;
    padding: 8px;
    background-color: gray;
    border-radius: 4px;
    bottom: -40px;
}