* {
    box-sizing: border-box;
}

.text {
    display: flex;
    position: relative;
    margin: 16px;
    border-bottom: 1px dotted black;
    width: 91px;
}

.tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 8px;
    border-radius: 4px;
    bottom: -40px;
}