* {
    box-sizing: border-box;
}

.text {
    display: inline-block;
    margin: 16px;
    border-bottom: 1px dotted black;
}

.tooltip {
    display: none;
    position: relative;
    padding: 8px;
    border-radius: 4px;
    background-color: gray;
    bottom: -40px;
    color: white;
}

.text:hover .tooltip {
    display: block;
}