* {
    box-sizing: border-box;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
        opacity: 1;
        border-top: 4px groove;
        border-bottom: 4px groove;
        border-left: 4px dotted;
        border-right: 4px dotted;
    }
    50% {
        transform: rotate(180deg);
        opacity: 0;
        transition-timing-function: 3s ease;
        border-top: 4px groove;
        border-right: 4px dotted;
        border-bottom: 4px groove;
        border-left: 4px dotted;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1 0.2s linear;
        border-right: 4px dotted;
        border-top: 4px dgroove;
        border-bottom: 4px groove;
        border-left: 4px dotted; 
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: spinning 1s linear infinite;
    border: 4px solid lightgrey;
    border-top: 4px solid black;
    margin-bottom: 8px;
}

.container {
    display: flex;
    height: 100vh;
}

.spinner {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite linear;
}